/*@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
:root{
  --font-style: 'Nunito Sans', sans-serif;
} /*-- décommente si tu préfère ce font */

/* ----------- TEST AREA ------------ */

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  z-index: 1;
  position: absolute;
  left: 50%;
  top:30%;
  margin-left: -80px;
}

/* Popup arrow */
.popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
/*@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
*/

/* ----------- GENERAL ------------ */

body{
  background-color: white;
  /*font-family: var(--font-style);*/
}

.errorBox {

  background-color: white;
  color: black;
}

.relative{
  position: relative;
  top: 30px;
  margin-bottom: 6%;
  background-color: white;
}
#middle{
  z-index: 2;
  margin-left: 15%;
  width: 70%;
}

a{
  text-decoration: none;/*Pour que le lien ne soit plus "souligné"...*/
   color: black;
  vertical-align: center;
}

/* ------------------ HEADER -------------------- */
div #header{
  z-index: 1;
  inline-size: 100%;
  background-color: white;
  position: fixed;
	top: 0px;
}

div #container{
  justify-content: space-between;
  display: flex;
  inline-size: 100%;
}

div #logo{
  width: 50%;
}

div#header div#container div#containerBis {
  width: 50%;
  justify-content: right;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.log{
  line-height: 80px;
  text-align: center;
}

div#header ul{
  margin: 0%;
  width: 99%;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 5px 0;
  border-radius: 2px;
  border: 0.1px solid black;
  background-color: white;
  box-shadow: 5px 5px 5px teal;
}
div#header li{
  margin: auto;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
div#header li:hover{
  background: #5fbebe;
  color: #5fbebe;
  border-radius: 5px;
  box-shadow: 0 0 5px #5fbebe, 0 0 5px #5fbebe, 0 0 5px #5fbebe;
}

div#containerBis li{
  margin-right: 20px;
}
div#containerBis li:hover{
  text-decoration: underline;
  background: white;
  border-radius: 5px;
  box-shadow: none;
}

/* -------------------- FOOTER ---------------------- */

.footer{
  z-index: -1;
  position: fixed;
  background-image: linear-gradient(180deg, #fff,teal);
  bottom: 0%;
  height: 50px;
  left:0%;
  right:0%;
  width:auto;
  text-align: center;
  line-height: 50px;
}


/* ----------- CONTENT ------------ */
#Client{
  font-weight: bolder;
  margin-left: 20px;
  font-size: large;
}
#containerHome{
  justify-content: space-around;
  display: flex;
  inline-size: 80%;
  font-weight: bolder;
}

/* Display of client's products on Maison.php page */
div#productList ul#productSectionList  { /*Liste piece*/

  list-style: none;

}

div#productList ul#productSectionList button  { /*Boite piece*/

  border-left: 3px solid teal;
  border-bottom: 3px solid teal;
  border-top: transparent;
  border-right: transparent;
  width: 50%;
  background-color: transparent;
  text-align: left; 
  cursor: pointer;
}

div#productList ul#productSectionList ul  { /*Liste produit*/

  display: flex;
  padding: 10px 10px;
  list-style: none;
  flex-wrap: wrap; 
}

div#productList ul#productSectionList ul li { /*Boite produit*/

  border: 0.1px black;
  border-radius: 5px;
  background-color: rgb(175, 222, 215);
  margin-left: 3%;
  width: 300px;
  height: auto;
  margin-bottom: 30px;
  text-align: center;

}
/* ----------- COCKPIT ------------ */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  }
  .switch input {
  opacity: 0;
  width: 0;
  height: 0;
  }
  .sliderC {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  }
  .sliderC:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  }
  input:checked + .sliderC {
  background-color: #2196F3;
  }
  input:focus + .sliderC {
  box-shadow: 0 0 1px #2196F3;
  }
  input:checked + .sliderC:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  }
  .sliderC.round {
  border-radius: 34px;
  }
  .sliderC.round:before {
  border-radius: 50%;
  }
  * {
  box-sizing: border-box;
  }
  .columnC {
  top: 150px;
  float: left;
  width: 50%;
  padding: 10px;
  height: 100%; 
  background-color: rgb(60, 168, 168);
  }
  .rowC:after {
  content: "";
  display: table;
  clear: both;
  }

/* ----------- EQUIPE ------------ */

#personnei{
  height: auto;
  justify-content: space-around;
  display: flex;
  background-color: rgb(157, 209, 209);
  margin-bottom: 5px;
}
#personnep{
  justify-content: space-around;
  display: flex;
  background-color: rgb(176, 212, 237);
  margin-bottom: 5px;
}
table#personnep button{
  border : none;
  background-color: transparent;
}
table#personnei button{
  border : none;
  background-color: transparent;
}
table#personnep button:hover{
  cursor: pointer;
}
table#personnei button:hover{
  cursor: pointer;
}
table#personnep a{
  font-weight: bolder;
}
table#personnei a{
  font-weight: bolder;
}



/* ----------- LOGIN ------------ */
.login-box {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0 15px 25px teal;
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: rgb(14, 84, 84);
  text-align: center;
}
.login-box .user-box input {
  position: relative;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: rgb(14, 84, 84);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid rgb(14, 84, 84);
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: relative;
  left: 0;
  top: -60px;
  padding: 10px 0;
  font-size: 16px;
  color: rgb(14, 84, 84);
  pointer-events: none;
  transition: .5s;
}
.login-box .user-box input:focus~label, .login-box .user-box input:valid~label {
  top: -85px;
  left: 0;
  color: rgb(14, 84, 84);
  font-size: 12px;
}
#submit {
  padding: 10px 20px;
  color: rgb(14, 84, 84);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px;
  border: 1px solid rgb(14, 84, 84);
  margin: auto;
}
#submit:hover {
  background: rgb(14, 84, 84);
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(14, 84, 84), 0 0 25px rgb(14, 84, 84);
}
.button-form {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
#register {
  font-size: 14px;
  text-decoration: none;
  color:teal;
  margin: auto;
  width: 60%;
  text-align: center;
}
#register a {
  margin: auto;
  color: #2c01ff;
  text-decoration: none; 
}
#login {
  font-size: 14px;
  text-decoration: none;
  color:teal;
  margin: auto;
  width: 60%;
  text-align: center;
}
#login a {
  margin: auto;
  color: #2c01ff;
  text-decoration: none; 
}
.register-box {
  z-index: 1;
  position: absolute;
  top: 500px;
  left: 50%;
  width: 50%;
  padding: 25px;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0 15px 25px teal;
  border-radius: 10px;
}

.register-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: rgb(14, 84, 84);
  text-align: center;
}
.register-box .user-box input {
  position: relative;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: rgb(14, 84, 84);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid rgb(14, 84, 84);
  outline: none;
  background: transparent;
}
.register-box .user-box label {
  position: relative;
  left: 0px;
  top: -60px;
  padding: 10px 0;
  font-size: 16px;
  color: rgb(14, 84, 84);
  pointer-events: none;
  transition: .5s;
}
.register-box .user-box input:focus~label, .login-box .user-box input:valid~label {
  top: -85px;
  left: 0;
  color: rgb(14, 84, 84);
  font-size: 12px;
}

/* ----------- HOME ------------ */
.slider {
  width: 800px;
  margin: 30px auto;
  position: relative;
}
.slider-viewport {
  width: 800px;
  height: 400px;
  overflow: hidden;
}
.slider-content {
  display: grid;
  grid-auto-flow: column;
  -webkit-transition: 1s all;
  transition: 1s all;
}
.slider-content img {
  width: 800px;
  height: 400px;
}
.slider-nav {
  position: absolute;
  width: 100%;
  bottom: -30px;
  margin-top: 10px;
  text-align: center;
}
.slider-nav a {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.3);
          box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.3);
  display: inline-block;
  background-color: #adafbc;
  width: 15px;
  height: 15px;
  margin: 0 3px;
}
.slider-nav a:hover {
  background-color: teal;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.8);
          box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.8);
}
#img2:target .slider-content {
  -webkit-transform: translateX(-800px);
          transform: translateX(-800px);
}
#img3:target .slider-content {
  -webkit-transform: translateX(-1600px);
          transform: translateX(-1600px);
}
#img4:target .slider-content {
  -webkit-transform: translateX(-2400px);
          transform: translateX(-2400px);
}
#img5:target .slider-content {
  -webkit-transform: translateX(-3200px);
          transform: translateX(-3200px);
}
div.slider h2{
  padding-left: 190px;
}

/* ------------------ A PROPOS -------------------- */
div.notre_histoire img{
  margin-top: 10px;
}
div.notre_mission img{
  margin-top: 10px;
}
div.rejoignez_nous img{
  margin-top: 10px;
}